<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">
        Tutorials
      </h1>
      <p class="lead text-body-secondary">
        Fastest and easiest way share with other developers and students, with usefull guide and tutorial videos
      </p>
      <div class="btn-group">
        <a href="#" class="btn btn-primary my-2 px-4 btn-sm">Join</a>
        <a href="#" class="btn btn-secondary my-2 px-3 btn-sm">Explore</a>
      </div>
    </div>
  </div>
</section>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% @tutorials.each do |tutorial| %>
    <div class="col">
      <div class="card shadow-sm mb-4">
        <div class="card-header">
          <%= tutorial.title %>
        </div>
        <div class="d-flex flex-row justify-content-center w-100">
          <%= image_tag tutorial.image_link, class: 'bd-placeholder-img card-img-top', style: 'max-height: 300px; max-width: 200' %>
        </div>
        <div class="card-body">
          <p class="card-text">
            <%= tutorial.description %>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to 'View', landing_path(tutorial.id), class: 'btn btn-sm btn-outline-secondary' %>
              <% if current_user.tutorials.include?(tutorial) %>
                <%= link_to 'Edit', tutorials_path, class: 'btn btn-sm btn-outline-warning' %>
              <% end %>
            </div>
            <small class="text-body-secondary">
              <span class="text-muted">Created:</span> <%= time_ago_in_words tutorial.created_at if tutorial %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>

<div class="digg_pagination d-flex flex-row justify-content-center my-5">
  <%= will_paginate @tutorials, :container => false %>
</div>
