<section class="py-5 text-center container">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">
        Tutorials
      </h1>
      <p class="lead text-body-secondary">
        Fastest and easiest way share with other developers and students, with usefull guide and tutorial videos
      </p>
      <div class="btn-group">
        <a href="#" class="btn btn-primary my-2 px-4 btn-sm">Join</a>
        <a href="#" class="btn btn-secondary my-2 px-3 btn-sm">Explore</a>
      </div>
    </div>
  </div>
</section>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <% @tutorials.each do |tutorial| %>
    <div class="col">
      <div class="card shadow-sm">
        <svg
          class="bd-placeholder-img card-img-top"
          width="100%"
          height="225"
          xmlns="http://www.w3.org/2000/svg"
          role="img"
          aria-label="Placeholder: Thumbnail"
          preserveAspectRatio="xMidYMid slice"
          focusable="false"
        >
          <title>
            <%= tutorial.title %>
          </title>
          <rect width="100%" height="100%" fill="#55595c"/>
          <text x="50%" y="50%" fill="#eceeef" dy=".3em">
            <%= tutorial.image_link %>
          </text>
        </svg>
        <div class="card-body">
          <p class="card-text">
            <%= tutorial.description %>
          </p>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <%= link_to 'View', landing_path(tutorial.id), class: 'btn btn-sm btn-outline-secondary' %>
              <%= link_to 'Edit', '#', class: 'btn btn-sm btn-outline-warning' %>
            </div>
            <small class="text-body-secondary">
              <span class="text-muted">Created:</span> <%= time_ago_in_words tutorial.created_at if tutorial %>
            </small>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
