<div class="d-flex flex-row justify-content-center">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <%= @tutorial.title %>
      </div>
      <div class="card-body">
        <small class="text-muted">
          <%= @tutorial.description %>
        </small>

        <%= image_tag @tutorial.image_link, style: 'width: 100%;' %>

        <p class="mt-5">
          <strong class="text-muted my-5 border border-success rounded p-3">
            <%= link_to "Start #{@tutorial.title} tutorial", @tutorial.link, target: :_blank %>
          </strong>
        </p>
      </div>
      <div class="card-footer">
        <%= link_to 'Back', root_path, class: 'btn btn-outline-secondary btn-sm' %>
      </div>
    </div>
  </div>
</div>
